
*{
    margin: 0;
    padding:0;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/background.png);
    background-position:center;
    background-size:cover;
    position:relative;


}
.nav {
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 6%;
}

.nav-links {
    width: 100%;
    text-align: left; 
    margin-bottom: 10px;
}

.nav-links ul {
    display: flex;
    gap: 20px; 
    margin: 0;
    padding: 0;
    justify-content: flex-end;
}

.nav-links ul li {
    list-style: none;
}

.nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.logo {
    position: absolute;
    top: -30px;
    left: 10px;
    align-items: center;
    width: 100px;
}

.logo img {
    display: flex;
    width: 100px; 
    height: 100px; 
    object-fit: contain; 
    justify-content: flex-start;
}

    .text-box{
        width: 90%;
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);
        text-align: center;
    }
    .text-box h1{
        font-size: 62px;

    }
    .text-box p{
        margin: 10px 0 40px;
        font-size: 14px;
        
    }
    .hero-btn{
        display: inline-block;
        text-decoration: none;
        color: white;
        border: 1px solid white;
        padding: 12px 34px;
        font-size: 13px;
        background: transparent;
        position: relative;
        cursor: pointer;
    }
    .hero-btn:hover{
        border: 1px solid red;
        background: red;
        transition: 1s;
    }
    .newproducts{
        width:80%;
        margin: auto;
        text-align: center;
        padding-top: 100px;
    }
    h1{
        font-size: 36px;
        font-weight: 600;
    }
    p{
        color: #777;
        font-size: 14px;
        font-weight: 300;
        line-height: 22px;
        padding:10px
    }
    .row{
        margin-top: 5px;
        display: flex;
        justify-content: space-between;
    }
    .proucts-col{
        flex-basis: 31%;
        background: #fff3f3;
        border-radius: 10px;
        margin-bottom: 5%;
        padding: 20px 12px;
        box-sizing: border-box;
    }



                      